@import "../style.scss";

.background {
  @include box(384px, 599px, 36px);
  display: flex;
  flex-direction: column;
  margin-top: 59px;

  a {
    &:hover {
      text-decoration: underline;
    }
  }

  input {
    &.checkbox {
      appearance: none;
      display: block;
      width: 16px;
      height: 16px;
      border-radius: 2px;
      background-color: $info-color;
      border: none;
      float: left;
      margin-top: 2px;
      margin-right: 8px;
      &:checked {
        background-image: url("./no-label.svg");
      }
    }
  }

  .errorMessage {
    .checkErr {
      margin-top: 0;
    }
  }
}
