@import "normalize.css";

body {
  background-color: #ebeef3;
  margin: 0;
}

.ant-pagination-item-active {
  background-color: #1890ff;
}

.ant-pagination-item-active a {
  color: white;
}

.ant-popover-inner {
  border-radius: 4px;
}

.liked svg path {
  fill: red;
}

.unliked svg path:last-child {
  fill: white;
}

.unliked svg path:first-child {
  fill: rgba(0, 0, 0, 0.85);
}
